extends layout

block content
  h1 Trip to HELL!!!
  .tickets_stylesheet
    each ticket in ticketList
      p= 'From:'+' '+ticket.fromName
      p= 'To:'+' ' +ticket.toName
      p= 'Date:'+' ' +ticket.departAt
      p= 'Transport:'+' ' +ticket.vehicle
      br



